body{
    margin: 0px;
    padding: 0px;
}

.container-fluid{
overflow: hidden;
}

.cont-one{
    overflow: visible;
}


.bg-ligh{
    color: #6d4130;
    font-weight: 600;
    background-color: #34f4f4;
}

.z-end {
    z-index: 333;
    top: 53%;
    background-color: red;
    left: 5%;
}

.appointment{
    position: absolute;
    z-index: 999;
     background-color: #e56e6e;
    border-top-right-radius: 10px;
     border-top-left-radius: 10px;
    transform: rotate(-90deg);
    padding-left: 1%;
    padding-right: 0.7%;
    height: 32px;
}

.appointment a{
    color: white;
    margin: 3px;
    font-size: 18px;
}
    
.appointment:hover a{
      color: white;
    text-decoration: none;
}

@media screen and (max-width:767px){
     .z-end{
        left: 11%;
         top: 95%;
    }
}





.cont-one img{
    width: 56%;
    margin-left: 17%;
    }


.navbar-nav .nav-link{
    color: #6d4130;
}

.navbar-nav .navbar-center{
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}


 
.on-col p {
    font-weight: 600;
    text-align: center;
    margin-bottom: 6px;
    font-size: 19px;
     font-family: serif; 
    margin-top: 8px;
}



.fas{
    color: #6d4130;
    font-size: 20px;
    margin-right: 5px;
}
.fab{
     color: #6d4130;
    font-size: 20px;
    margin-right: 5px;
   
}



.on-col{
    margin-top: 5px;
}

.on-col p, .on-col a {
     color: #6d4130;
    text-align: center;
    margin-bottom: 1px;
    font-size: 20px;
  font-family: serif;
}

 

.on-col a:hover{
     text-decoration: none; 
    color: #6d4130;
}

.wells img{
    margin-left: 13px;
    height: 38px;
    max-width: 86px;
    background-image: url(../images/wells.png);
}

.rr img{
    max-width: 130%;
    height: auto;
}

.right-color {
    color: #0ba7cc;
}

.footer{
 background: linear-gradient(to right, #32b9ec 0%, #37d6c0 51%, #32b9ec 100%) no-repeat;
    margin: 20px 0 20px 0;
    color: aliceblue;
    text-align:center;
    padding: 22px;
}

.time p{
    margin-bottom:inherit;
    
}


