body{
    margin: 0px;
    padding: 0px;
}

.container-fluid{
overflow: hidden;
}

.cont-one{
    overflow: visible;
}


.bg-ligh{
    color: #6d4130;
    font-weight: 600;
    background-color: #34f4f4;
}

.z-end {
    z-index: 333;
    top: 53%;
    background-color: red;
    left: 5%;
}

.appointment{
    position: absolute;
    z-index: 999;
     background-color: #e56e6e;
    border-top-right-radius: 10px;
     border-top-left-radius: 10px;
    transform: rotate(-90deg);
    padding-left: 1%;
    padding-right: 0.7%;
    height: 32px;
}

.appointment a{
    color: white;
    margin: 3px;
    font-size: 18px;
}
    
.appointment:hover a{
      color: white;
    text-decoration: none;
}

@media screen and (max-width:767px){
     .z-end{
        left: 11%;
         top: 95%;
    }
}






.cont-one img{
    width: 56%;
    margin-left: 17%;
    }


.navbar-nav .nav-link{
    color: #6d4130;
}

.navbar-nav .navbar-center{
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.on-col p {
    font-weight: 600;
    text-align: center;
    margin-bottom: 6px;
    font-size: 19px;
     font-family: serif; 
    margin-top: 8px;
}



.fas{
    color: #6d4130;
    font-size: 20px;
    margin-right: 5px;
}
.fab{
     color: #6d4130;
    font-size: 20px;
    margin-right: 5px;
   
}



.on-col{
    margin-top: 5px;
}

.on-col p, .on-col a {
     color: #6d4130;
    text-align: center;
    margin-bottom: 1px;
    font-size: 20px;
  font-family: serif;
}

 

.on-col a:hover{
     text-decoration: none; 
    color: #6d4130;
}

.wells img{
    margin-left: 13px;
    height: 38px;
    max-width: 86px;
    background-image: url(../images/wells.png);
}





.main{
   margin-top: -11px;
   
}
.front-head{
     margin-top: 0px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    flex-wrap: wrap;
    
}


.emer {
    padding-left: 29px;
    max-width: 8%;
    height: 65px;
}

.em{
    height: 200px;
}

.col p{
    text-align: justify;
    font-family: sans-serif;
    font-size: 19px;
    color: black;
}







@media  only screen and (max-width: 576px){
    .img-fluid {
    padding-left: 62px;
  
}
    
    .emer{
        padding-left: 210px;
    }
    
    .img-fluid{
        max-width: 73%;
        height: 200px;
    }
    
}


