html{
box-sizing: border-box;
flex-wrap: wrap;
}

body{
    margin: 0px;
    padding: 0px;
}

.container-fluid{
overflow: hidden;
}

.cont-one{
    overflow: visible;
}


.bg-ligh{
    color: #6d4130;
    font-weight: 600;
    background-color: #34f4f4;
}

.z-end {
    z-index: 333;
    top: 53%;
    background-color: red;
    left: 5%;
}

.appointment{
    position: absolute;
    z-index: 999;
     background-color: #e56e6e;
    border-top-right-radius: 10px;
     border-top-left-radius: 10px;
    transform: rotate(-90deg);
    padding-left: 1%;
    padding-right: 0.7%;
    height: 32px;
}

.appointment a{
    color: white;
    margin: 3px;
    font-size: 18px;
}
    
.appointment:hover a{
      color: white;
    text-decoration: none;
}

@media screen and (max-width:767px){
     .z-end{
        left: 11%;
         top: 95%;
    }
}






.cont-one img{
    width: 56%;
    margin-left: 17%;
    }


.navbar-nav .nav-link{
    color: #6d4130;
}

.navbar-nav .navbar-center{
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

 
.on-col p {
    font-weight: 600;
    text-align: center;
    margin-bottom: 6px;
    font-size: 19px;
     font-family: serif; 
    margin-top: 8px;
}



.fas{
    color: #6d4130;
    font-size: 20px;
    margin-right: 5px;
}
.fab{
     color: #6d4130;
    font-size: 20px;
    margin-right: 5px;
   
}



.on-col{
    margin-top: 5px;
}

.on-col p, .on-col a {
     color: #6d4130;
    text-align: center;
    margin-bottom: 1px;
    font-size: 20px;
  font-family: serif;
}

 

.on-col a:hover{
     text-decoration: none; 
    color: #6d4130;
}

.wells img{
    margin-left: 13px;
    height: 38px;
    max-width: 86px;
    background-image: url(../images/wells.png);
}

.hd{
 font-size: 19px;
    font-family: serif;
}


.main{
   margin-top: 11px;
   
}

.front-head{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    flex-wrap: wrap;
    
}


.front-head-dent {
       box-sizing: border-box;
    background: url(../images/pat-plann.png) no-repeat ;
    background-size: contain;
    max-width: 85%;
    margin-left:137px;
    height: 389px;
}


.vert-line{
     height: 60px;
    width: 3px;
    background-color: black;
    margin-top: 30px;
    margin-left: 100%;
    margin-bottom: 10px;
    
}


.text-subline{
    
     position: relative;
    height: 2px;
    padding: 0;
    background: #e5e5e5;

    border: none;
  
}


.text-subline:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 50%;
    background: #32b9ec;
}

 .text-line{
    text-align: center;
     font-family: serif;
}
h4,h3{
    font-family: serif;
}

.text-line h3{
    text-align: center;
    margin: 20px;
    font-size: 55px;
}

p,li{
   font-family: serif;
    line-height: 1.6;
     color: #0f0e0e;
    font-size: 17px;
}

.parallax{
    margin-bottom: 30px;
   min-height: 300px;
  background: transparent -90%;  
   
}

.large{
    height: 300px;
}

.parallax2{
   min-height: 400px;
 width: 80%;
   margin: 89px 0px 29px 0px;
}



@media  only screen and (max-width: 768px){
    
    .front-head {
        height: 100px;
    }
    
    .front-head-dent {
        margin-left: 152px;
        max-width: 50%;
    }
    
    .vert-line{
        margin-top: 74px;
    }
    
    
    
}


















